create election here yo

 <div class="row">
    <form class="col s12" method="POST" action="/">
      <div class="row">
        <div class="input-field col s10 l10">
          <label for="first_name">Candidate</label>
          <input id="first_name" type="text">
        </div>
          <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
